body {
  font-family: $font-main;
  font-size: 16px;
  color: var(--color-primary-01-800);
  overflow-y:scroll;
}

.font-main {
  font-family: $font-main;
}

.font-second {
  font-family: $font-second;
}


h4, h5, h6 {
  font-family: $font-second;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
